{{extend 'layout.html'}}
{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
  
 <h3>Google App Engine Demo: Display Selected Images</h3>

    <!--This is the tag which will be replaced by the AJAX call  -->
     <div id="reslist" style=""></div>

{{block right_sidebar}}
  <h6>{{=T("Tag Summary?")}}</h6>
  <table border="1">
    <tr>
        <th>Tag ID</th>
        <th>Item Count</th>
        <th>Link</th>
    </tr>
    {{for item in tagsummary:}}
        <tr>
            <td>{{ =item['id']}}</td>
            <td>{{ =item['count']}}</td>
            <td>{{ =item['name'] }}</td>
        </tr>
    {{pass}}
  </table>

{{end}}

